body {
    margin-top:6em;
    margin-bottom:6em;
}
html{
    overflow-y:scroll;
}
.off {
    opacity: 0;    
}
.blink {
    display:inline-block;
    animation: blink .75s linear infinite;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    50.01% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}