<ul id="list" data-binder="ListBinderTest" data-pks="ID" class="table" style="display:none;">
    <li data-template="header">
        <div>ID</div>
        <div>Name</div>
        <div>Value</div>
        <div>Selected</div>
    </li>
    <li data-template="row">
        <div>
            <span data-innerhtml="ID"></span>
        </div>
        <div>
            <input type="text" data-value="Name" />
        </div>
        <div>
            <input type="text" data-value="Value" />
        </div>
        <div>
            <input type="checkbox" data-checked="Selected" />
        </div>
    </li>
    <li data-template="footer">
        <div>ID</div>
        <div>Name</div>
        <div>Value</div>
        <div>Selected</div>
    </li>
</ul>
