<ul id="list" data-binder="ListTestData" class="table">
    <li>
        <div>ID</div>
        <div>Name</div>
        <div>Value</div>
        <div>Checked</div>
        <div></div>
    </li>
    <li data-template="row">
        <div>
            <span data-innerhtml="ID"></span>
        </div>
        <div>
            <input type="text" data-value="Name" />
        </div>
        <div>
            <input type="text" data-value="Value" />
        </div>
        <div>
            <input type="checkbox" data-checked="Checked" />
        </div>
        <div>
            <input type="button" data-accesskey="ID" value="delete" onclick="this.DeleteFromServer()" />
        </div>
    </li>
    <li>
        <div>this is a footer</div><div></div><div></div><div></div><div></div>
    </li>
</ul>
