<ul id="list" data-binder="ListBinderTest" class="table">
    <li>
        <div>ID</div>
        <div>Name</div>
        <div>Value</div>
        <div>Checked</div>
    </li>
    <li data-template="row">
        <div>
            <span data-innerhtml="ID"></span>
        </div>
        <div>
            <input type="text" data-value="Name" />
        </div>
        <div>
            <input type="text" data-value="Value" />
        </div>
        <div>
            <input type="checkbox" data-checked="Checked" />
        </div>
    </li>
    <li>
        <div>ID</div>
        <div>Name</div>
        <div>Value</div>
        <div>Checked</div>
    </li>
</ul>
