TestContent<br />
<a href="javascript:" onclick="window.Show(DummyViewManager)">Go to Dummy Page</a><br />
<a href="javascript:" onclick="window.Show(ContentWithShowByUrlContainer)">Go to ContentWithShowByUrlContainer</a><br />
<a href="javascript:" onclick="window.Show(BinderViewContainer)">Go to Binder Page</a><br />
<a href="javascript:" onclick="window.Show(MultipleBindingsContainer)">Go to multiple bindings</a><br />
<a href="javascript:" onclick="window.Show(WebApiBindingContainer, 100)">red From WebApi</a><br />
<a href="javascript:" onclick="window.Show(WebApiBindingContainer, 15)">yellow From WebApi</a><br />
<a href="javascript:" onclick="window.Show(WebApiBindingContainer, 1)">white From WebApi</a><br />
