<ul class="table">
    <li>
        <div style="vertical-align:top;">
            <ul data-binder="Binder(['ID'], '/Api/BareBones')" class="smallTable">
                <li>
                    <div>ID</div>
                    <div>Name</div>
                    <div>Value</div>
                    <div></div>
                </li>
                <li data-template="row" data-class="AlternatingRowClass">
                    <div data-innerhtml="ID">
                    </div>
                    <div>
                        <input data-value="Name" />
                    </div>
                    <div>
                        <input data-value="Value" />
                    </div>
                </li>
                <li>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div class="more">
                        <a href="javascript:" data-morekeys="ID" data-morethreshold="25">more...</a>
                    </div>
                </li>
            </ul>
        </div>
        <div style="width:20em; vertical-align:top;">
            <div><a href="Documentation">Documentation</a></div>
            <div>How to make the grid to left from zero with none of custom classes instantiated.  To just do customized approach go <a href="UseOfAllTypeScriptObjects">here</a>. If you already did the customization you can skip down to step that Adds the Web api Controller and go from there</div>
            <ul style="list-style-type:none">
                <li style="margin-bottom:1em;">
                    <input type="checkbox" />
                    Create new project at least 4.5.2.
                    <div style="margin-left:1em;">To test this implementation I start with an ASP.NET Web Application(.NET Framework) with WebApi (at the time of test Core w/Framework was giving reference exceptions).</div>
                </li>
                <li style="margin-bottom:1em;">
                    <input type="checkbox" />
                    Set the Web Project specific page to blank.
                </li>
                <li style="margin-bottom:1em;">
                    <input type="checkbox" />
                    Add folders Api, Scripts, Styles, and Views to the web app.
                </li>
                <li style="margin-bottom:1em;">
                    <input type="checkbox" />
                    Add Nuget package<br />http://www.nuget.org/packages/mace.ts/<br />
                </li>
                <li style="margin-bottom:1em;">
                    <input type="checkbox" />
                    Add addin Mace.ts.Extensibility from Tools | Extensions and Updates
                </li>
                <li style="margin-bottom:1em;">
                    <input type="checkbox" />
                    Add a C# file to the project called RouteHandler.  Then use the MaceTS extension (just installed) Route Handler for mace.ts Type Project to stub out that file.
                </li>
                <li style="margin-bottom:1em;">
                    <input type="checkbox" />
                    Add some routes to the Global.asax Application Start up.  Can use the MaceTS extension Add Some Routes
                </li>
                <li style="margin-bottom:1em;">
                    <input type="checkbox" />
                    Create an Controller in the Api folder.  I use the Route Attributes so need to make sure have [RoutePrefix("Api/UseOfAllTypeScriptObjects")] and Route... on the methods. Also make sure to have Controller on suffix of the Controller.
                    <a href="https://docs.microsoft.com/en-us/aspnet/web-api/overview/web-api-routing-and-actions/attribute-routing-in-web-api-2">Web Api Attributes</a>
                </li>             
                <li style="margin-bottom:1em;">
                    <input type="checkbox" />
                    Create a html View in the Views folder.  To run the example name it by same convention as above should end up with UseOfAllTypeScriptObjects.html in the Views Folder.  Delete everything from the html create.  Use MaceTS snippet "Extending View".  Change the header data-binder to the Name of the binder from previous step eg data-binder="UseOfAllTypeScriptObjectsBinder".  Add any customizations you want for styling to the ul or whatever your repeater is.  Note that the repeater is desingated by data-template="row"<br />
                    Also note that the alternating class and the more items.
                </li>                
                <li style="margin-bottom:1em;">
                    <input type="checkbox" />
                    Global alternating rows can be achieved by using the Initializer like:<br />Initializer.WindowLoaded = (e) => {
                    DataObject.DefaultAlternatingRowClass = "formattedTableHighlight";
                    };
                    to do this add a Main.ts to the script and past the code above and set the class with whatever you have made.
                </li>
                <li style="margin-bottom:1em;">
                    <input type="checkbox" />
                    Create a ViewContainer file in the Scripts folder.  Give it a name by same convention as the html view eg UseOfAllTypeScriptObjects.html:UseOfAllTypeScriptObjectsContainer.  Stub this out with the MaceTS snippet "Extending a View Container with static View".  Make the class name the same as the file name.  For the View stub point the view from above.  Mark the this.IsDefault = true;
                </li>
                <li style="margin-bottom:1em;">
                    <input type="checkbox" />
                    Add scripts to default.html: 
                    main.ts, BareBonesContainer.ts, Main.ts
                    main.ts should be first script on page.
                </li>
            </ul>
        </div>
    </li>
</ul>
