Content with Binding
<a href="javascript:" onclick="window.ShowByUrl('Default')">Go to default Page</a><br />
<a href="javascript:" onclick="window.ShowByUrl('dummy')">Go to Dummy Page</a><br />
<div data-binder="BinderTest" data-backgroundcolor="ContainerBackground">
    <span style="width:10em; display:inline-block">ID</span><input type="text" data-value="ID" /><br />
    <span style="width:10em; display:inline-block">Name</span><input type="text" data-value="Name" /><br />
    <span style="width:10em; display:inline-block">Value</span><input type="text" data-value="Value" /><br />
    <span style="width:10em; display:inline-block">Checked</span> <input type="checkbox" data-checked="Checked" /><br />
    <span style="width:10em; display:inline-block">Make Checked Change</span><input type="text" data-value="MakeCheckedChange" /><br />
    <span data-innerHTML="Value"></span>
</div>
<div data-binder="BinderTest2" data-backgroundcolor="ContainerBackground">
    <span style="width:10em; display:inline-block">ID</span><input type="text" data-value="ID" /><br />
    <span style="width:10em; display:inline-block">Name</span><input type="text" data-value="Name" /><br />
    <span style="width:10em; display:inline-block">Value</span><input type="text" data-value="Value" /><br />
    <span style="width:10em; display:inline-block">Checked</span> <input type="checkbox" data-checked="Checked" /><br />
    <span style="width:10em; display:inline-block">Make Checked Change</span><input type="text" data-value="MakeCheckedChange" /><br />
    <span data-innerHTML="Value"></span>
</div>
