<ul data-binder="UseOfAllTypeScriptObjectsBinder" class="smallTable">
    <li>
        <div>ID</div>
        <div>Name</div>
        <div>Value</div>
        <div></div>
    </li>
    <li data-template="row" data-class="AlternatingRowClass">
        <div data-innerhtml="ID">
        </div>
        <div>
            <input data-value="Name" />
        </div>
        <div>
            <input data-value="Value" />
        </div>
    </li>
    <li>
        <div></div>
        <div></div>
        <div></div>
        <div class="more">
            <a href="javascript:" data-morekeys="ID" data-morethreshold="25">more...</a>
        </div>
    </li>
</ul>