<div class="col-lg-10 col-lg-offset-1">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-condensed" data-binder="Binder(['Id'], '/Api/Orders', true)">
            <thead>
                <tr>
                    <td>
                        Order Id
                    </td>
                    <td>
                        CustomerId
                    </td>
                    <td>
                        Amount                        
                    </td>
                </tr>
            </thead>
            <tr data-template="row">
                <td>
                    <a href="javascript:" onclick="window.Show(OrderContainer, this.DataObject.Id)" data-innerhtml="Id"></a>
                </td>
                <td data-innerhtml="CustomerId"></td>
                <td>
                    <input data-value="OrderAmount" type="number" />
                </td>
            </tr>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="javascript:" data-morekeys="Id" data-morethreshold="25">more...</a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>