<dl class="dl-horizontal">
    <dt>ViewContainer</dt>
    <dd>
        <p>
            Associates a given url via its name but can be customized, determines if it is the default view for a given area, and supplies views (HTML fragments) that are associated to html container elements.  More on ViewContainers can be found <a href="/Documentation/ViewContainer">here</a>.<br /><strong>Required.</strong>
        </p>
    </dd>
    <dt>
        View
    </dt>
    <dd>
        <p>Is also associated to HTML fragment by name but can be customized, determines cache strategy for the HTML fragment, and what target content element will recieve the HTML fragment.  More on ViewContainers can be found <a href="/Documentation/View">here</a>.<br /><strong>Optional.</strong></p>
    </dd>
    <dt>
        Binder
    </dt>
    <dd>
        <p>
            Associates HTML Elements to a WebApi Controller.  Inheritance allows for customization.  Utilizes GET, POST, PUT, DELETE methods.  Binds data returned from GET method to the associated HTML Element.  More on Binders can be found <a href="/Documentation/Binder">here</a>.<br /><strong>Required but can be inline HTML declaration.</strong>
        </p>
    </dd>
    <dt>
        DataObject
    </dt>
    <dd>
        <p>
            All incoming data from GET is stored in this base object.  Inheritance allows for customization.  More on DataObjects can be found <a href="/Documentation/DataObject">here</a>.<br /><strong>Optional.</strong>
        </p>
    </dd>
</dl>