<div class="col-md-10" data-binder="Binder(['Id'], '/Api/Order', false, Order)">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-md-4">
                <label for="IdSpan" class="control-label">Id</label>
            </div>
            <div class="col-md-8">
                <span data-innerhtml="Id" id="IdSpan" class="form-control">1</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label for="CustomerIdSpan" class="control-label">CustomerId</label>
            </div>
            <div class="col-md-8">
                <span data-innerhtml="CustomerId" id="CustomerIdSpan" class="form-control">2</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label for="OrderAmountInput" class="control-label">Amount</label>
            </div>
            <div class="col-md-8">
                <input type="number" data-value="OrderAmount" id="OrderAmountInput" class="form-control" placeholder="e.g. 1,2,3, etc" style="width:100%" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
            </div>
            <div class="col-md-8" style="text-align:right">
                <input type="button" value="Save" data-class="SaveButtonClass" onclick="this.Save()" />
            </div>
        </div>
    </form>
</div>